<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head">
</head>
<body>
<div class="container main-container">
    <header th:replace="/fragments/header"></header>
    <section class="card">
        <h2>Sign up</h2>
        <form th:action="@{/register}" th:object="${userModel}" th:method="POST" >
            <div class="form-group w-50">
                <label>Username</label>
                <input type="text" name="username" class="form-control" th:field="*{username}" placeholder="Enter username">
            </div>
            <div class="form-group w-50">
                <label>Email address</label>
                <input type="text" name="email" class="form-control" th:field="*{email}" placeholder="Enter email">
            </div>
            <div class="form-group w-50">
                <label>Password</label>
                <input type="password" name="password" class="form-control" th:field="*{password}" placeholder="Password">
            </div>

            <div class="form-group col-md-4">
                <label>You are:</label>

                <select th:field="*{role}" class="form-control">
                    <option value="TEACHER">Teacher</option>
                    <option value="STUDENT">Student</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>
</body>
</html>