<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header" class="row">
    <h1>Distance Learning</h1>
    <div class="ml-auto">
        <a sec:authorize="isAnonymous()" href="/login" class="btn btn-light" role="button">Log in</a>
        <a sec:authorize="isAnonymous()" href="/register" class="btn btn-primary" role="button">Sign up</a>
        <p sec:authorize="isAuthenticated()" class="pt-3">
            <strong sec:authentication="name"></strong>
            |
            <a th:href="@{/logout}">Logout</a>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/home/admin}">Admin Page</a>
        </p>
    </div >
</header>
</html>