<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head">
</head>
<body>
<div class="container main-container">
    <header th:replace="/fragments/header"></header>
    <section class = "card">
        <div sec:authorize="hasAuthority('TEACHER')">
            <a href="/register" class="btn btn-primary" role="button">Create course</a>
            <button th:action class="btn-primary">Create course</button>
        </div>
    </section>
</div>
</body>
</html>