<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head">
</head>
<body>
<div class="container main-container">
    <header th:replace="/fragments/header"></header>
    <section class="card">
        <nav th:replace="/fragments/nav"></nav>
        <form th:action="@{'/home/teacher/course/' + course + '/test/create'}" th:object="${testModel}" th:method="POST">
            <div class="form-group w-50">
                <label>Title</label>
                <input th:field="*{name}" type="text" name="name" class="form-control" placeholder="Enter test title">
            </div>
            <div class="form-group w-50">
                <label>Message</label>
                <input th:field="*{message}" type="text" name="name" class="form-control" placeholder="Enter test message">
            </div>
            <div class="form-group w-50">
                <label>Due Date</label>
                <input th:field="*{dueDate}" type="time" min="07:00" max="20:00" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</div>
</body>
</html>